<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    
    RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*)$ /$1/$2/$3?customer_id=$4&request_id=$5 [L,R=307]
    RewriteRule ^(.*)/(.*)/(.*)/(.*)$ /$1/$2/$3?customer_id=$4 [L,R=307]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
